# Entornos virtuales
venv/
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignorar __pycache__ en los módulos
modulo_diccionario/__pycache__/
modulo_ddl_dml/__pycache__/

# Archivos de logs
*.log

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de configuraciones específicas del entorno
*.env

# Otros archivos temporales
*.tmp
*.bak
.DS_Store
